<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/yeti/bootstrap.min.css">
  <!-- izitoast -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
<style>
.display-text {
  margin-bottom: 0.3rem;
  color: #fff9ef;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 2px;
  transition: all 0.2s;
}
#modal-button-yes {
    border: 2px solid #4290f5;
    padding: 10px 50px;
    background: #4290f5;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
	width:100%;
}

#modal-button-yes:hover {
    border: 2px solid darken(#4290f5, 8%);
    background: darken(#4290f5, 8%);
}
#modal-header {
    position: relative;
    background: #4290f5;
    padding: 15px;
    color: #fff;
    text-align: left;
}
.form-check {
  display: flex;
  justify-content: space-between;

}




</style>
</head>
<body>
    <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col-md-6">
          
            <div class="card shadow my-5">
              <h4 class="card-header" id="model-header">
             <center><div class="display-text" style="text-shadow: rgb(59, 127, 216) 0px 1px, rgb(60, 159, 221) 1px 0px, rgb(59, 127, 216) -1px 2px, rgb(60, 159, 221) -2px 1px, rgb(59, 127, 216) -2px 3px, rgb(60, 159, 221) -3px 2px, rgb(59, 127, 216) -3px 4px, rgb(60, 159, 221) -4px 3px, rgb(59, 127, 216) -4px 5px, rgb(60, 159, 221) -5px 4px, rgb(59, 127, 216) -5px 6px, rgb(60, 159, 221) -6px 5px, rgb(59, 127, 216) -6px 7px, rgb(60, 159, 221) -7px 6px, rgb(59, 127, 216) -7px 8px, rgb(60, 159, 221) -8px 7px;">CSMIS</div></center> 
              </h4>
              <div class="card-body">
                <form id="loginForm" action="/login" method="post">
						<div class="mb-3">
							<label for="email" class="form-label">Email address</label>
							<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="username">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Password</label>
							<input type="password" class="form-control" id="password" placeholder="Password" name="password">
						</div>
                        <div class="form-check mb-3">
                            <div class="form-check-item">
                              <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me">
                              <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div>
                            <div class="form-check-item">
                              <small><a href="/forgot_password">Forgot your password?</a></small>
                            </div>
                          </div>
                          
						<button type="submit" id="modal-button-yes" style="width:100%">Log In</button><br>
						<div class="mt-3 bg-transparent d-flex justify-content-center">
                            <a th:href="@{/about}" class="mr-2 " id="">About Us</a><br>
                            <a th:href="@{/contactus}" class="mr-2 " id="">Contact Us</a><br>

                        </div>
					</form>
              </div>
              <div class="card-footer" id="model-header"></div>
            </div>
          </div>
        </div>
      </div>
     <div th:if="${param.error}" id="inactiveToast1">
       <span th:text="${param.error + 'Invalid username and password'}" style="display: none;"></span>
   </div>
   <div th:if="${INACTIVEError != null}" id="inactiveToast">
       <span th:text="${INACTIVEError}" style="display: none;"></span>
   </div>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
    $(document).ready(function() {
     var inactive = document.getElementById("inactiveToast");
     var inactive1 = document.getElementById("inactiveToast1");
        if (inactive) {
            iziToast.error({
                title: 'Error',
                message: inactive.textContent,
                position: 'topCenter',
                timeout: 5000,
                backgroundColor: 'red' ,
             messageColor: 'white',      
             });
             var toast = document.querySelector('.iziToast');
             toast.style.top = '70px';
        }
        if (inactive1) {
            iziToast.error({
                title: 'Error',
                message: inactive1.textContent,
                position: 'topCenter',
                timeout: 5000,
                backgroundColor: 'red' ,
             messageColor: 'white',      
             });
             var toast = document.querySelector('.iziToast');
             toast.style.top = '70px';
        }
    });
</script>
    <script>
        const loginForm = document.querySelector('#loginForm');
        const emailField = document.querySelector('#email');
        const passwordField = document.querySelector('#password');
      
        loginForm.addEventListener('submit', function(event) {
            event.preventDefault();
            if (emailField.value.trim() === '' && passwordField.value.trim() === '') {
                iziToast.error({
                    title: 'Error',
                    message: 'Please enter email and password.',
                    position: 'topCenter',
                    timeout: 3000,
                    backgroundColor: 'red' ,
                     messageColor: 'white',      
                  });
                  var toast = document.querySelector('.iziToast');
                  toast.style.top = '70px';
                  return;  
            }
            if (emailField.value.trim() === '') {
                iziToast.error({
                        title: 'Error',
                      message: 'Please enter email.',
                      position: 'topCenter',
                      timeout: 3000,
                      backgroundColor: 'red' ,
                       messageColor: 'white',      
                    });
                    var toast = document.querySelector('.iziToast');
                    toast.style.top = '70px';
                    return;   	    
            }
            if (passwordField.value.trim() === '') {
                iziToast.error({
                    title: 'Error',
                    message: 'Please enter password.',
                    position: 'topCenter',
                    timeout: 3000,
                    backgroundColor: 'red' ,
                     messageColor: 'white',      
                  });
                  var toast = document.querySelector('.iziToast');
                  toast.style.top = '70px';
                  return;  
            }
            if (emailField.value.trim() === '' && passwordField.value.trim() === '') {
                iziToast.error({
                    title: 'Error',
                    message: 'Please enter email and password.',
                    position: 'topCenter',
                    timeout: 3000,
                    backgroundColor: 'red' ,
                     messageColor: 'white',      
                  });
                  var toast = document.querySelector('.iziToast');
                  toast.style.top = '70px';
                  return;  
            }
                loginForm.submit();
            });
      </script>  
   <script>
    const [form] = document.forms;
const [emailFeedback, passwordFeedback] = document.querySelectorAll('.feedback');

const isEmailValid = email => {
  return /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/g.test(email);
}

const isPasswordValid = password => {
  return /^.{5,30}$/gm.test(password);
}

const validation = (email, password) => {
  return isEmailValid(email) && isPasswordValid(password);
}

const toggleShowPassword = (toggler, elements) => {
  toggler.addEventListener('change', e => {
    elements.forEach(element => {
      element.setAttribute('type', e.target.checked ? 'text' : 'password');
    });
  });
};

const getElement = (name, e) => {
  return {
    email(e) {
      e.target.classList.toggle('border-danger', !isEmailValid(e.target.value));
      emailFeedback.textContent = isEmailValid(e.target.value) ? null : 'Provide a valid email address';
    },
    password(e) {
      e.target.classList.toggle('border-danger', !isPasswordValid(e.target.value));
      passwordFeedback.textContent = isPasswordValid(e.target.value) ? null : 'Password must be at least 7 characters long and contain 1 capital letter and 1 symbol or number';
    }
  }[name](e);
}

const handleInput = e => {
  const { email, password, btn } = form;
  const { name } = e.target;
  
  getElement(name, e);
  
  btn.disabled = !validation(email.value, password.value);
}

document.addEventListener('DOMContentLoaded', () => {
  toggleShowPassword(form.showPassword, [form.password]);
  
  form.email.addEventListener('input', handleInput);
  
  form.password.addEventListener('input', handleInput);
  
  form.addEventListener('submit', e => {
    e.preventDefault();
    const { email, password, rememberMe } = e.target;
    const submittedValue = {
      email: email.value,
      password: password.value,
      isRememberMeChecked: rememberMe.checked
    };
    
    // Check console to see the result
    console.log(submittedValue);
  });
});
   </script>
  
</body>
</html>