<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Order List</title>
    <meta content="" name="description">
    <meta content="Author" name="MJ Maraz">
 
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- ========================================================= -->
	
<!-- 	<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />  -->
	<link th:href="@{/assets/css/datatables.min.css}" rel="stylesheet" />
			<link th:href="@{/assets/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/sidebar.css">
        
    
  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js"></script>

<style>
.dataTables_filter {
            display: none;
        }
       
        .table-responsive .btn{
            padding: 5px 10px;
            margin: 10px 3px 10px 0;
        }
        @media only screen and (max-width: 800px) {
            #no-more-tables tbody,
            #no-more-tables tr,
            #no-more-tables td {
                display: block;
            }
            #no-more-tables thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            #no-more-tables td {
                position: relative;
                padding-left: 50%;
                border: none;
                border-bottom: 1px solid #eee;
            }
            #no-more-tables td:before {
                content: attr(data-title);
                position: absolute;
                left: 6px;
                font-weight: bold;
            }
            #no-more-tables tr {
                border-bottom: 1px solid #ccc;
            }
            /* Style the last row */
            #no-more-tables tbody tr:last-child {
                background-color: lightgray;
            }
        }
        div.dataTables_wrapper .row:last-child .col-sm-12 #example_paginate{
	transform: translate(354px);
    transform: tra;
    width: 34%;
}

 #sidebar a{
        text-decoration: none;
    }
    .custom-select {
    appearance: none;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
  }
 

#import-header {
    position: relative;
    background: #4290f5;
    padding: 15px;
    color: #fff;
    text-align: left;
}

#import-header h3 {
    font-weight: 300;
    margin: 0;
}

#import-close {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 1.5em;
    cursor: pointer;
    color: #204a87;
}

#import-close:hover {
    color: #fff;
}


#import-button-yes {
    border: 2px solid #4290f5;
    padding: 10px 50px;
    background: #4290f5;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
    margin-left: 65%;
}

#import-button-yes:hover {
    border: 2px solid darken(#4290f5, 8%);
    background: darken(#4290f5, 8%);
}
.image--cover {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
  box-shadow: 1px 1px 13px 3px gray;
}
 .nowrap {
  white-space: nowrap;
}
</style>



</head>
<!-- =============== Design & Develop By = MJ MARAZ   ====================== -->

<body>
     <!-- SIDEBAR -->
  <section id="sidebar">
   <a href="#" class="profile">
         <center>
                 <img src="/image/DAT.jpeg" alt="" class="image--cover" />
            
            <br><span class="text" style="font-size: 24px;font-weight: 700;">[[${session.operatorname}]]</span>
             </center>
        </a>  
    <ul class="side-menu top">
        <li >
            <a th:href="@{/}">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li th:if="${session.staffid ne 'default_admin'}">
            <a th:href="@{/admin/cateringStart}">
              <i class="bx bx-dish"></i>

                <span class="text">Lunch Register</span>
            </a>
        </li>
        <li>
          <a  data-bs-toggle="modal" data-bs-target="#employeefileImportModal">
            <i class="bx bx-user"></i>
              <span class="text">Employee Import</span>
          </a>
      </li>
      <li>
        <a data-bs-toggle="modal" data-bs-target="#menuImportModal">
          <i class="bx bx-food-menu"></i>

            <span class="text">Menu Import</span>
        </a>
    </li>
    <li>
      <a data-bs-toggle="modal" data-bs-target="#holidayImportModal">
    
        
        <i class="bx bx-calendar"></i>
          <span class="text">Holiday Import</span>
      </a>
  </li>
  <li>
      <a data-bs-toggle="modal" data-bs-target="#resImportModal">
    
        
        <i class="bx bx-calendar"></i>
          <span class="text">Restaurant Form</span>
      </a>
  </li>
  
  <div class="modal fade" id="resImportModal" tabindex="-1" aria-labelledby="resImportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" id="import-header">
          <h4 class="modal-title" id="doorlogImportModalLabel">Restaurant Form</h4>
          <span data-confirm=0
                  class="modal-action" id="import-close" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="modal-body">
          <form id="resImportForm" >
          <div class="row mb-3">
                <label for="name" class="col-md-3 col-form-label">Id</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="id" id="id" th:value="${session.id}" readonly="readonly">
                
                </div>
              </div>
            <div class="row mb-3">
                <label for="name" class="col-md-3 col-form-label"> Name</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="name" id="nameid">
                <span id="nameMsg"></span>
                </div>
              </div>
              <div class="row mb-3">
                <label for="dln" class="col-md-3 col-form-label">  Address </label>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="address" id="addressid">
                <span id="addMsg"></span>
                </div>
              </div>
              <div class="row mb-3">
                <label for="dept" class="col-md-3 col-form-label"> Phone</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="phone" id="phone">
                <span id="phoneMsg"></span>
                </div>
              </div>
              <div class="row mb-3">
                <label for="dept" class="col-md-3 col-form-label"> Email</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="email" id="email">
                <span id="emailMsg"></span>
                </div>
              </div>
            <button type="button" class="btn btn-primary" onclick="importres()" id="import-button-yes" data-bs-dismiss="modal">Import</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    
   
  <li>
    <a data-bs-toggle="modal" data-bs-target="#holidayImportModal1">
  
        <i class="bx bx-edit-alt"></i>
        <span class="text">Holiday Add Manually</span>
    </a>
</li>
  <li>
    <a data-bs-toggle="modal" data-bs-target="#doorlogImportModal">
      <i class="bx bx-door-open"></i>

        <span class="text">Doorlog Import</span>
    </a>
</li>
<li>
  <a  data-bs-toggle="modal" data-bs-target="#avoidmeatImportModal">
    <i class="bx bx-block"></i>


      <span class="text">Avoid Meat Import</span>
  </a>
</li>
        <li>
            <a th:href="@{/admin/list}">
                <i class="bx bx-list-ul"></i>

                <span class="text">List View</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/importlist}">
                <i class="bx bx-list-ul"></i>

                <span class="text">Import View</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/resView}">
                <i class="bx bx-list-ul"></i>

                <span class="text">Restaurant View</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/setupOrder}">
                <i class='bx bxs-shopping-bag-alt'></i>

                <span class="text">Order</span>
            </a>
        </li>
     
         <li>
            <a th:href="@{/admin/orderList}">
                <i class="bx bx-history"></i>


                <span class="text">Order History</span>
            </a>
        </li>
         <li class="active">
            <a th:href="@{/admin/orderReport}">
                <i class="bx bx-history"></i>


                <span class="text">Order Report</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/setupInvoice}">
                <i class="bx bx-receipt"></i>
                <span class="text">Create Invoice</span>
            </a>
        </li>
        <li>
            <a  th:href="@{/admin/paidList}">
                <i class="bx bx-credit-card"></i>

                <span class="text">Paid Invoice History</span>
            </a>
        </li>
        <li >
            <a th:href="@{/admin/unpaidList}">
                <i class="bx bx-dollar-circle"></i>
                  <span class="text">Unpaid Invoice History</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/monthlyInvoiceList}">
                <i class="bx bx-history"></i>
                <span class="text">Monthly Invoice Report</span>
            </a>
        </li>
        
    </ul>

    <ul class="side-menu">
        <li>
            <a th:href="@{/admin/adminSetting}">
                <i class='bx bxs-cog'></i>
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a th:href="@{/logout}" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
          <nav>

			<i class='bx bx-menu' ></i>	
			<input type="checkbox" id="switch-mode" hidden>

		</nav>
        
         <!-- =======  Data-Table  = Start  ========================== -->
        <div class="container-fluid mt-5">

            <div class="col-md-12">
                <div class="row" style="flex-direction: column;">
                    <h1 class="text-center"><strong>Order History</strong></h1>
                    <form action="/admin/orderReportList" method="post">

                        <div class="col-md-12">
                            <div class="row justify-content-start">
                                <div class="col-md-3 mb-3" style="margin-right:-5px;margin-left:-8px">
                                    Start Date : <input type="date" class="form-control" name="start_date"
                                        id="start_date">
                                </div>
                                <div class="col-md-3 mb-3" style="margin-left:-12px;">
                                    End Date : <input type="date" class="form-control" name="end_date" id="end_date">
                                </div>
                                <div class="col-md-4 mt-4 mb-3 mr-2" >
                                    <button id="searchBtn" class="btn btn-primary">Search</button>
                               
                                    <a th:href="@{/admin/orderReportListReset}" class="btn btn-secondary">Reset</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="table-responsive nowrap" id="no-more-tables">
                <table class="table bg-white" id="example">
                    <thead id="import-header">
                        <tr>
                        <tr>
                            <th>No.</th>
                            <th>Order Date</th>
                            <th>Order By</th>
                            <th>DAT Cost</th>
                            <th>Employee Cost</th>
                            <th>No. Of Pax</th>
                            <th>Extra Pax</th>
                            <th>Total Pax</th>
                            <th>Total Cost</th>

                        </tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="data,index: ${session.orlist}">
                            <td class="center" th:text="${index.index + 1}" data-title="No."></td>
                            <td th:text="${data.orderdate}" data-title="Order Date"></td>
                            <td th:text="${data.adminName}" data-title="Order By"></td>
                            <td th:text="${data.datcost}+' MMK'" data-title="DAT Cost"></td>
                            <td th:text="${data.employeecost}+' MMK'" data-title="Employee Cost"></td>
                            <td th:text="${data.quantity}" data-title="No. Of Pax"></td>
                            <td th:text="${data.extrapax}" data-title="Extra Pax"></td>
                            <td th:text="${data.totalpax}" data-title="Total Pax"></td>
                            <td th:text="${data.totalCost}+' MMK'" data-title="Total Cost"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- =======  Data-Table  = End  ===================== -->
        
     </section>

    <div class="modal fade" id="employeefileImportModal" tabindex="-1" aria-labelledby="employeefileImportModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" id="import-header">
            <h4 class="modal-title" id="employeefileImportModalLabel">Employee Import</h4>
            <span data-confirm=0
              class="modal-action" id="import-close" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></span>
           
          </div>
          <div class="modal-body">
            <form id="employeeImportForm" class="form-inline" enctype="multipart/form-data">
              <div class="form-group my-2">
                <label for="file" class="form-label mr-2">Select file to import:</label>
                <input type="file" id="employeeFile" name="employeeFile" class="form-control-file">
              </div>
              
      
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="import-button-yes" onclick="importEmployee()">Import</button>  
            </form>
          </div>
        </div>
      </div>
    </div>
<div class="modal fade" id="doorlogImportModal" tabindex="-1" aria-labelledby="doorlogImportModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header" id="import-header">
      <h4 class="modal-title" id="doorlogImportModalLabel">DoorLog Import</h4>
      <span data-confirm=0
              class="modal-action" id="import-close" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
    <div class="modal-body">
      <form id="doorlogImportForm" class="form-inline" enctype="multipart/form-data">
        <div class="form-group my-2">
          <label for="file" class="form-label mr-2">Select file to import:</label>
          <input type="file" id="doorlogFile" name="doorlogFile" class="form-control-file">
        </div>
        <button type="button" class="btn btn-primary" onclick="importdoorlog()" id="import-button-yes" data-bs-dismiss="modal">Import</button>
      </form>
    </div>
  </div>
</div>
</div>
  
<div class="modal fade" id="holidayImportModal" tabindex="-1" aria-labelledby="holidayImportModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header" id="import-header">
      <h4 class="modal-title" id="holidayImportModalLabel">Holiday Import</h4>
      <span data-confirm=0
      class="modal-action" id="import-close" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
    <div class="modal-body">
      <form id="holidayImportForm" class="form-inline"  enctype="multipart/form-data">
        <div class="form-group my-2">
          <label for="file" class="form-label mr-2">Select file to import:</label>
          <input type="file" id="holidayFile" name="holidayFile" class="form-control-file">
        </div>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="import-button-yes" onclick="importHoliday()">Import</button>
      </form>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="holidayImportModal1" tabindex="-1" aria-labelledby="holidayImportModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header" id="import-header">
      <h4 class="modal-title" id="holidayImportModalLabel">Edit Holidays</h4>
      <span data-confirm=0
      class="modal-action" id="import-close" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
    <div class="modal-body">
      <form id="holidayImportForm" >
        <div class="form-group my-2">
          <label for="holidaydate" class="form-label mr-2">Choose date for holiday</label>
          <input type="date" id="holidaydate" name="holidaydate" class="form-control">
          <br>
          <label for="holidayname" class="form-label mr-2">Type holiday name</label>
          <input type="text" id="holidayname" name="holidayname" class="form-control">
        </div>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="import-button-yes" onclick="importHoliday1()">Import</button>
      </form>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="menuImportModal" tabindex="-1" aria-labelledby="menuImportModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header" id="import-header">
              <h4 class="modal-title" id="menuImportModalLabel">Menu Import</h4>
              <span data-confirm=0
              class="modal-action" id="import-close" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
          <div class="modal-body">
              <form id="menuImportForm" enctype="multipart/form-data" class="form-inline">
                  <div class="form-group my-2">
                      <label for="menuFile" class="form-label mr-2">Select file to import:</label>
                      <input type="file" id="menuFile" name="menuFile" class="form-control-file">
                  </div>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal"id="import-button-yes" onclick="importMenu()">Import</button>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="avoidmeatImportModal" tabindex="-1" aria-labelledby="holidayImportModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header" id="import-header">
      <h4 class="modal-title" id="holidayImportModalLabel">Add Avoid Meat</h4>
      <span data-confirm=0
      class="modal-action" id="import-close" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
    <div class="modal-body">
      <form class="form-inline" id="avoidmeat-form">
        <div class="form-group my-2" >
          <input type="text" id="avoidmeat" name="meatName" class="form-control-file  mx-3" placeholder="Type any avoid meat:">
         <br> <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="import-button-yes" onclick="importAvoidMeat()">Import</button>
        </div>  
      </form>
    </div>
  </div>
</div>
</div>
<script src="/js/importvalidation.js">

</script>
 	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
   
    <!-- ============ Java Script Files  ================== -->
    
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/datatables.min.js}"></script>
    <script th:src="@{/assets/js/pdfmake.min.js}"></script>
    <script th:src="@{/assets/js/vfs_fonts.js}"></script>
    <script th:src="@{/assets/js/custom.js}"></script>
    
	<script th:inline="javascript">
    var errorMessage = /*[[${errorMessage}]]*/ null;

    if (errorMessage && errorMessage.trim() !== "") {
    	iziToast.warning({
            message: errorMessage,
            icon: 'fa fa-exclamation-triangle',
            position: 'topCenter',
            timeout: 5000,
            progressBarColor: 'red',
            backgroundColor: '#f5d1d3',
            padding: '20px',
            transitionIn: 'fadeInLeft',
            transitionOut: 'fadeOutRight'
        });
        var toast = document.querySelector('.iziToast');
        toast.style.top = '55px';
    }
    var nullErrorMessage = /*[[${nullErrorMessage}]]*/ null;

    if (nullErrorMessage && nullErrorMessage.trim() !== "") {
    	iziToast.warning({
            message: nullErrorMessage,
            icon: 'fa fa-exclamation-triangle',
            position: 'topCenter',
            timeout: 5000,
            progressBarColor: 'red',
            backgroundColor: '#f5d1d3',
            padding: '20px',
            transitionIn: 'fadeInLeft',
            transitionOut: 'fadeOutRight'
        });
        var toast = document.querySelector('.iziToast');
        toast.style.top = '55px';
    }
    var successMessage = /*[[${successMessage}]]*/ null;

    if (successMessage && successMessage.trim() !== "") {
    	iziToast.success({
            title: 'Success',
            message: successMessage,
            position: 'topCenter',
            timeout: 5000,
            progressBarColor: 'green',
            transitionIn: 'fadeInLeft',
            transitionOut: 'fadeOutRight'
        });
        var toast = document.querySelector('.iziToast');
        toast.style.top = '55px';
    }
    var resetSuccessMessage = /*[[${resetSuccessMessage}]]*/ null;

    if (resetSuccessMessage && resetSuccessMessage.trim() !== "") {
    	iziToast.success({
            title: 'Success',
            message: resetSuccessMessage,
            position: 'topCenter',
            timeout: 5000,
            progressBarColor: 'green',
            transitionIn: 'fadeInLeft',
            transitionOut: 'fadeOutRight'
        });
        var toast = document.querySelector('.iziToast');
        toast.style.top = '55px';
    }
</script>
</body>

<!-- side bar script -->
        <script src="/js/script.js"></script>

</html>
